/* Temas del segundo período*/

.texto{
   
    font-size: 35px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
   
    background-image: url("fondo.jpg");
   

} 
.titulo{ 
    font-size: 50px;
    color: black;
    text-align: center;
}
.images{
height: 215px;
width: 313px;
background-image: url("images.jpg");
background-repeat: no-repeat;
float: left;

}
.banano{
height: 250px;
width: 250px;
background-image: url(Amperimetro.jpg);
background-repeat: no-repeat;
float: left;
}



.cs{
    height: 300px;
    width: 300px;
    background-image: url(cs.jpg);
    background-repeat: no-repeat;
    float: left;
    }


.cp{


    height: 300px;
    width: 300px;
    background-image: url(cp.jpg);
    background-repeat: no-repeat;
    float: left;


}



.ca{


    height: 200px;
    width: 300px;
    background-image: url(ca.jpg);
    background-repeat: no-repeat;
    float: left;


}

.cc{


    height: 200px;
    width: 300px;
    background-image: url(cc.jpg);
    background-repeat: no-repeat;
    float: left;


}




.ej1{


    height: 200px;
    width: 300px;
    background-image: url(ej1.jpg);
    background-repeat: no-repeat;
    float: left;


}


.ej2{


    height: 200px;
    width: 300px;
    background-image: url(ej2.jpg);
    background-repeat: no-repeat;
    float: left;


}


.ej3{


    height: 200px;
    width: 300px;
    background-image: url(ej3.jpg);
    background-repeat: no-repeat;
    float: left;


}




.largo{


    height: 600px;
    width: 500px;
    background-image: url(largo.jpg);
    background-repeat: no-repeat;
    float: left;


}


.ej4{


    height: 200px;
    width: 300px;
    background-image: url(ej4.jpg);
    background-repeat: no-repeat;
    float: left;


}


.img1{


    height: 290px;
    width: 500px;
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    float: left;


}



.img2{


    height: 290px;
    width:600px;
    background-image: url(img2.jpg);
    background-repeat: no-repeat;
    float:left


}


.cm{


    height: 290px;
    width:600px;
    background-image: url(cm.jpg);
    background-repeat: no-repeat;
    float:left


}

.ff{


    height: 290px;
    width:600px;
    background-image: url(ff.jpg);
    background-repeat: no-repeat;
    float:left


}

.fl{


    height: 290px;
    width:600px;
    background-image: url(fl.jpg);
    background-repeat: no-repeat;
    float:left


}

.fm{


    height: 290px;
    width:600px;
    background-image: url(fm.jpg);
    background-repeat: no-repeat;
    float:left


}

.hormonas{


    height: 290px;
    width:600px;
    background-image: url(hormonas.jpg);
    background-repeat: no-repeat;
    float:left


}

.o{


    height: 290px;
    width:600px;
    background-image: url(o.jpg);
    background-repeat: no-repeat;
    float:left


}

.fotom{


    height: 320px;
    width:600px;
    background-image: url(fotom.jpg);
    background-repeat: no-repeat;
    float:left


}
.fotomj{


    height: 320px;
    width:600px;
    background-image: url(fotomj.jpg);
    background-repeat: no-repeat;
    float:left


}

.t1{


    height: 210px;
    width:1330px;
    background-image: url(t1.jpg);
    background-repeat: no-repeat;
    float:left


}

.t2{


    height: 300px;
    width:1330px;
    background-image: url(t2.jpg);
    background-repeat: no-repeat;
    float:left


}




.t3{


    height: 300px;
    width:1330px;
    background-image: url(t3.jpg);
    background-repeat: no-repeat;
    float:left


}



.t4{


    height: 300px;
    width:1330px;
    background-image: url(t4.jpg);
    background-repeat: no-repeat;
    float:left


}



.t5{


    height: 300px;
    width:1330px;
    background-image: url(t5.jpg);
    background-repeat: no-repeat;
    float:left


}



.t6{


    height: 30px;
    width:1330px;
    background-image: url(t6.jpg);
    background-repeat: no-repeat;
    float:left


}


.tp{


    height: 290px;
    width:600px;
    background-image: url(tp.jpg);
    background-repeat: no-repeat;
    float:left

}


.ne{


    height: 290px;
    width:600px;
    background-image: url(ne.jpg);
    background-repeat: no-repeat;
    float:left

}


.an{


    height: 290px;
    width:1330px;
    background-image: url(an.jpg);
    background-repeat: no-repeat;
    float:left

}
.bl{


    height: 290px;
    width:1330px;
    background-image: url(bl.jpg);
    background-repeat: no-repeat;
    float:left

}
.hn1{


    height: 290px;
    width:1330px;
    background-image: url(hn1.jpg);
    background-repeat: no-repeat;
    float:left

}


.hn2{


    height: 290px;
    width:1330px;
    background-image: url(hn2.jpg);
    background-repeat: no-repeat;
    float:left

}


.hn3{


    height: 290px;
    width:1330px;
    background-image: url(hn3.jpg);
    background-repeat: no-repeat;
    float:left

}


.hn4{


    height: 290px;
    width:1330px;
    background-image: url(hn4.jpg);
    background-repeat: no-repeat;
    float:left

}
.hn5{


    height: 290px;
    width:1330px;
    background-image: url(hn5.jpg);
    background-repeat: no-repeat;
    float:left

}
.hn6{


    height: 290px;
    width:1330px;
    background-image: url(hn6.jpg);
    background-repeat: no-repeat;
    float:left

}
.hn7{


    height: 290px;
    width:1330px;
    background-image: url(hn7.jpg);
    background-repeat: no-repeat;
    float:left

}
.hn8{


    height: 290px;
    width:1330px;
    background-image: url(hn8.jpg);
    background-repeat: no-repeat;
    float:left

}
.hn9{


    height: 290px;
    width:1330px;
    background-image: url(hn9.jpg);
    background-repeat: no-repeat;
    float:left

}
.hn10{


    height: 290px;
    width:1330px;
    background-image: url(hn10.jpg);
    background-repeat: no-repeat;
    float:left

}
.hn11{


    height: 290px;
    width:1330px;
    background-image: url(hn11.jpg);
    background-repeat: no-repeat;
    float:left

}
.hn12{


    height: 290px;
    width:1330px;
    background-image: url(hn12.jpg);
    background-repeat: no-repeat;
    float:left

}

.h1{


    height: 290px;
    width:1330px;
    background-image: url(h1.jpg);
    background-repeat: no-repeat;
    float:left

}

.h2{


    height: 290px;
    width:1330px;
    background-image: url(h2.jpg);
    background-repeat: no-repeat;
    float:left

}
.h3{


    height: 290px;
    width:1330px;
    background-image: url(h3.jpg);
    background-repeat: no-repeat;
    float:left

}
.h4{


    height: 290px;
    width:1330px;
    background-image: url(h4.jpg);
    background-repeat: no-repeat;
    float:left

}
.h5{


    height: 290px;
    width:1330px;
    background-image: url(h5.jpg);
    background-repeat: no-repeat;
    float:left

}
.h6{


    height: 290px;
    width:1330px;
    background-image: url(h6.jpg);
    background-repeat: no-repeat;
    float:left

}
.h7{


    height: 290px;
    width:1330px;
    background-image: url(h7.jpg);
    background-repeat: no-repeat;
    float:left

}
.h8{


    height: 290px;
    width:1330px;
    background-image: url(h8.jpg);
    background-repeat: no-repeat;
    float:left

}
.h9{


    height: 290px;
    width:1330px;
    background-image: url(h9.jpg);
    background-repeat: no-repeat;
    float:left

}
.h10{


    height: 290px;
    width:1330px;
    background-image: url(h10.jpg);
    background-repeat: no-repeat;
    float:left

}
.h11{


    height: 290px;
    width:1330px;
    background-image: url(h11.jpg);
    background-repeat: no-repeat;
    float:left

}
.h12{


    height: 290px;
    width:600px;
    background-image: url(h12.jpg);
    background-repeat: no-repeat;
    float:left

}


.fotof{


    height: 380px;
    width:600px;
    background-image: url(fotof.jpg);
    background-repeat: no-repeat;
    float:left

}

.mf1{


    height: 100px;
    width:400px;
    background-image: url(mf1.jpg);
    background-repeat: no-repeat;
    float:left

}

.mf2{


    height: 200px;
    width:900px;
    background-image: url(mf2.jpg);
    background-repeat: no-repeat;
    float:left

}
.mf3{


    height: 160px;
    width:360px;
    background-image: url(mf3.jpg);
    background-repeat: no-repeat;
    float:left

}

.mf4{


    height: 200px;
    width:500px;
    background-image: url(mf4.jpg);
    background-repeat: no-repeat;
    float:left

}
.mf5{


    height: 200px;
    width:400px;
    background-image: url(mf5.jpg);
    background-repeat: no-repeat;
    float:left

}
.mf6{

    height: 200px;
    width:470px;
    background-image: url(mf6.jpg);
    background-repeat: no-repeat;
    float:left

}

.mf7{


    height: 200px;
    width:420px;
    background-image: url(mf7.jpg);
    background-repeat: no-repeat;
    float:left

}

.mf8{


    height: 200px;
    width:410px;
    background-image: url(mf8.jpg);
    background-repeat: no-repeat;
    float:left

}

.mf9{


    height: 200px;
    width:420px;
    background-image: url(mf9.jpg);
    background-repeat: no-repeat;
    float:left

}

.mf10{


    height: 200px;
    width:420px;
    background-image: url(mf10.jpg);
    background-repeat: no-repeat;
    float:left

}
.mf11{


    height: 200px;
    width:420px;
    background-image: url(mf11.jpg);
    background-repeat: no-repeat;
    float:left

}

.mf12{


    height: 200px;
    width:420px;
    background-image: url(mf12.jpg);
    background-repeat: no-repeat;
    float:left

}

.mf13{


    height: 200px;
    width:420px;
    background-image: url(mf13.jpg);
    background-repeat: no-repeat;
    float:left

}
.mf14{


    height: 100px;
    width:400px;
    background-image: url(mf14.jpg);
    background-repeat: no-repeat;
    float:left

}
.ib1{


    height: 150px;
    width:400px;
    background-image: url(ib1.jpg);
    background-repeat: no-repeat;
    float:left

}
.ib2{


    height: 152px;
    width:400px;
    background-image: url(ib2.jpg);
    background-repeat: no-repeat;
    float:left

}

.ib3{


    height: 212px;
    width:525px;
    background-image: url(ib3.jpg);
    background-repeat: no-repeat;
    float:left

}
.ib4{


    height: 200px;
    width:250px;
    background-image: url(ib4.jpg);
    background-repeat: no-repeat;
    float:left
 

}
.Enl{
height: 200px;
    width: 250px;
    background-image:url(Enl.png);
    background-repeat:no-repeat; 
    float:left

}
.Descarga{
    height: 200px;
    width: 250px;
    background-image:url(descargar.png);
    background-repeat:no-repeat; 
    float:left